# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.artifacts
.stylelintcache

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.gitignore

# Local env files
.env
.env.*
!.env.example
/test-results/
/playwright-report/
/playwright/.cache/
.vercel
