:root {
  --color-red-light: #FDEEF5;
  --color-red-light-hover: #FCE6F0;
  --color-red-light-active: #FACBDF;
  --color-red-normal: #EE5899;
  --color-red-normal-hover: #D64F8A;
  --color-red-normal-active: #BE467A;
  --color-red-dark: #B34273;
  --color-red-dark-hover: #8F355C;
  --color-red-dark-active: #6B2845;
  --color-red-darker: #531F36;
  --color-neutral-1: #FFFFFF;
  --color-neutral-2: #FDFDFD;
  --color-neutral-3: #F5F5F5;
  --color-neutral-4: #F1F1F1;
  --color-neutral-5: #DBDBDB;
  --color-neutral-6: #C3C3C3;
  --color-neutral-7: #939393;
  --color-neutral-8: #636363;
  --color-neutral-9: #505050;
  --color-neutral-10: #333333;
  --color-neutral-11: #2C2C2C;
  --color-neutral-12: #222222;
  --color-neutral-13: #0F0F0F;
}
