@mixin content-padding {
  padding: 32px 16px;

  @include from-xl {
    padding: 32px 32px 32px 92px;
  }
}

@mixin layout-padding {
  padding: 20px 16px;

  @include from-xl {
    padding: 20px 92px;
  }
}
